build/

output/
/Lab 2/nbproject/private/
/Lab 3/nbproject/private/
/Assignment 2/nbproject/private/
/Lab_4_Skeleton/nbproject/private/
/Lab4/dist/
/Lab 6/nbproject/private/
/Lab 8/nbproject/private/
